@import url("https://fonts.googleapis.com/css?family=Rubik");

*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}/*       *{} Lo que esta dentro de parentecis va modificar todo el doc      */

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    color: #707070;
    text-align: center;
}

h1{
    color: #3B3B3B;
    font-size: 2m;
}

h3{
    color: #3B3B3B;
    font-size: 1.375em;
}

/* Estilos de headernav*/


#headernav {
    background: #ECECEC;
}

.link-menu {
    color: #707070;
    text-decoration: none;
}

a:hover {
    color: #6984E5;
}


/* Estilos productos*/

#principal {
    margin-top: 3.125em;
    /*min-height: 28.125em;*/
}

.espacio{
    padding-top: 3,125;

}


/* Estilos de productos*/
.producto{
    background: -webkit-linear-gradient(90deg,#6859EA 10%, #6ACBE0 90%);
    background: -moz-linear-gradient(90deg,#6859EA 10%, #6ACBE0 90%);
    background: linear-gradient(90deg,#6859EA 10%, #6ACBE0 90%);
    color: #FFFFFF;
}

.espacio-row{
    padding-top: 3em;
    padding-bottom:3em;
}


/* Estilos de pie*/
 
#pie {
    background: #3B3B3B;
    color: #FFFFFF;
    height: 4.6875em;   
}
.sep{
    margin-top: 1em;
}
.sepa{
    margin-bottom: 8em;
}
.sepai{
    margin-bottom: 16em;
}